# built application
public

# npm stuff
node_modules
npm-debug.log

# cache-busting build filename mappings
rev-manifest.json

# environment variable
config/environment.json

# project management
stuph

# sublime text
*.sublime-project
*.sublime-workspace