# build/deploy assets
public
webpack-assets.json
.env

# npm stuff
node_modules
npm-debug.log

# cache-busting build filename mappings
rev-manifest.json

# app configurations
config/environment.json

# project management
stuph

# sublime text
*.sublime-project
*.sublime-workspace
