.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  position: relative;
  display: flex;
  justify-content: center;
}

.canvas {
  position: absolute;
}
.canvas:hover {
  cursor: default;
}

.picture {
  position: absolute;
}
