<!DOCTYPE html>
<html ng-app='app'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <pf-builder></pf-builder>
  <pf-menu></pf-menu>
</body>
</html>